<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>{{"Edit profile" | translate}}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="dismiss()"><ion-icon name="md-close" class="close-icon"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>

    <div class="base64Image">
        <img *ngIf="!user.base64Image" src="{{user.avatar}}">
        <img *ngIf="user.base64Image" src="{{user.base64Image}}">
    </div>
    
    <button ion-button full clear (click)="photo()"><ion-icon name="ios-camera-outline" style="font-size: 40px;"></ion-icon></button>


    <form #f="ngForm" class="edit">
      <ion-list>

        <ion-item class="item-header">
          <ion-label>
            <b>{{"Personal Details" | translate}}</b>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"First Name" | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.firstname" name="firstname">
          </ion-input>
        </ion-item>

         <ion-item>
          <ion-label floating>{{"Middle Name" | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.middlename" name="middlename">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"Last Name" | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.lastname" name="lastname">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"Username" | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="user.username" name="username">
            </ion-input>
        </ion-item>

        <br>
        <br>

        <ion-item class="item-header">
          <ion-label>
            <b>{{"Contact Details" | translate}}</b>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"Email" | translate}}</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" name="Email">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"Phone" | translate}}</ion-label>
          <ion-input type="tel" maxlength="10" [(ngModel)]="user.phone" name="phone">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"City" | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.city" name="city">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"State" | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.state" name="state">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{"Country" | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.country" name="country">
          </ion-input>
        </ion-item>

        <br>
        <br>

         <button ion-button no-margin item-right full color="shadow" [disabled]="disableSave" (click)="saveAddress()">{{buttonText | translate}}</button>

      </ion-list>
     </form>

</ion-content>
