page-register {

.toolbar-background {
    background: transparent;
}
.back-button {
    color: #fff;
}

.base64Image{
    img{
        height: 135px;
        width: 135px;
        border-radius: 50%;
        margin: 40px auto 20px auto;
        display: block;   
    }
}

.register-page:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.register-page{
	background-image: url("../assets/images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .info {
        margin: 10% auto 15% auto;
        h1 {
            text-align: center;
            color: #fff;
            font-size: 25px;
        }
        h2 {
            padding-top: 0px;
            text-align: center;
            color: #fff;
            font-size: 14px;
        }
    }
    .scroll-content{
        margin: 0 35px;
        padding-bottom: 30px;
    }
    ::placeholder{
        color: #ccc;
        font-size: 14px;
        font-family: 'Montserrat-Light';
    }
    .list>.item-block:first-child {
        border-top: none;
    }
    .list>.item-block:last-child {
        border-bottom: 0;
    }
    .list .item-block .item-inner {
        border-bottom: none;
    }
    .item {
        background-color: rgba(241, 241, 241, 0.2);
        padding-left: 5px;
        margin-bottom: 8px;
    }
    .item-header{
    	background: transparent;
    	color: #fff;
    }
    ion-icon {
        color: #fff;
        font-size: 2rem;
    }

    .signup-button{
        .button {
            min-height: 50px;
            color: #fff;
            border: 2px solid rgba(255, 255, 255, 0.79);
            font-weight: 600;
            font-size: 13px;
            margin: 0;
        }
    }
    
    input {
        font-size: 15px;
        color: #fff;
        letter-spacing: 0.2px;
    }
    .label+ion-input .text-input {
        margin-left: 0;
        width: calc(100% - (16px / 2) - 16px);
    }
    .item-md ion-icon[item-left]+.item-inner {
        margin-left: 0;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #f2f2f2;
        box-shadow: none;
    }
    .item-md.item-input.input-has-focus .item-inner {
        box-shadow: none;
    }
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent;
        box-shadow: none;
    }
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: #f2f2f2;
        box-shadow: none;
    }
    .list-md .item-input.input-has-focus:last-child {
        box-shadow: none;
    }
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: #f2f2f2;
        box-shadow: none;
    }

    .text-input-ios {
        margin: 11px 8px 11px 10px;
        padding: 0;
        width: calc(100% - 8px);
    }
}

}
