<ion-content class="profle">

<div *ngIf="!auth.isLoggedIn" class="login">
  <h4>
    {{"Please login to view your profile" | translate}}
  </h4>

  <button ion-button clear (click)="login()">{{"Let's Go" | translate}}</button>
</div>


<div *ngIf="auth.isLoggedIn">
  <div class="spinner" *ngIf="!user"><ion-spinner name="bubbles"> </ion-spinner></div>

    <div class="head" *ngIf="user">
      <h1 text-capitalize>
        {{"profile" | translate}}
      </h1>
    </div>

     <div *ngIf="user">
      <fieldset>
         <legend>
            <div class="profile-image">
            <img *ngIf="!user.base64Image" src="{{auth.avatar}}">
            <img *ngIf="user.base64Image" src="{{user.base64Image}}">
            </div>
        </legend> 

        <h2>{{user.username}}</h2>

        <ion-list>
           <ion-item>
              <ion-label>{{"Account Infromation" | translate}}</ion-label>
           </ion-item>
           <ion-item no-lines style="margin-bottom: 20px;">
              <h3>{{user.firstname}} {{user.middlename}} {{user.lastname}}</h3>
              <h3>{{user.email}}</h3>
              <h3>{{user.phone}}</h3>
              <h3>{{user.city}}</h3>
              <h3>{{user.state}}</h3>
              <h3>{{user.country}}</h3>

                <button ion-button item-right no-margin medium class="edit-button" [disabled]="disableSubmit" (click)="edit()"><ion-icon name="md-create"></ion-icon>{{"Edit" | translate}}</button>
                
           </ion-item>

           <ion-item>
              <ion-label>{{"Support" | translate}}</ion-label>
           </ion-item>
           <ion-item no-lines (click)="call()">
              <h3>{{"Call Us At" | translate}}</h3>
              <ion-icon name="ios-arrow-forward" item-right class="forward"></ion-icon>
              <ion-icon name="ios-call-outline" item-left></ion-icon>
           </ion-item>

            <ion-item no-lines (click)="contact()">
              <h3>{{"Feedback" | translate}}</h3>
              <ion-icon name="ios-arrow-forward" item-right class="forward"></ion-icon>
              <ion-icon name="ios-help-circle-outline" item-left></ion-icon>
           </ion-item> 

           <ion-item no-lines>
              <h3>{{"About Us" | translate}}</h3>
              <ion-icon name="ios-arrow-forward" item-right class="forward"></ion-icon>
              <ion-icon name="ios-information-circle-outline" item-left></ion-icon>
           </ion-item>   

           <ion-item no-lines>
              <h3>{{"Language" | translate}}</h3>
              <ion-select placeholder="Select One" [(ngModel)]="language" (ngModelChange)="changeLanguage(language)" cancelText="{{'Cancel' | translate}}" okText="{{'Ok' | translate}}">
                <ion-option value="english" color="primary">{{"English" | translate}}</ion-option>
                <ion-option value="hindi" color="primary">{{"Hindi" | translate}}</ion-option>
                <ion-option value="spanish" color="primary">{{"Spanish" | translate}}</ion-option>
              </ion-select>

              <ion-icon name="ios-globe-outline" item-left></ion-icon>
           </ion-item>  

           <br>
           <br>

           <ion-item no-lines (click)="logout()">
              <h3 text-center>{{"Sign Out" | translate}}</h3>
           </ion-item> 


        </ion-list>
      </fieldset>
    </div>
</div>
</ion-content>
